apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "scw-exporter.fullname" . }}
  labels:
    {{- include "scw-exporter.labels" . | nindent 4 }}
  annotations:
{{- if .Values.files }}
    checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
{{- end }}
{{- if not .Values.config.existingSecret }}
    checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
{{- end }}
{{- if  .Values.annotations }}
{{ toYaml .Values.annotations | indent 4 }}
{{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "scw-exporter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "scw-exporter.labels" . | nindent 8 }}
{{- if  .Values.annotations }}
      annotations:
        {{- toYaml .Values.annotations | nindent 8 }}
{{- end }}
    spec:
      serviceAccountName: {{ include "scw-exporter.serviceAccountName" . }}
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
      {{- range .Values.image.pullSecrets }}
        - name: {{ . }}
      {{- end }}
      {{- end }}
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.extraInitContainers }}
      initContainers:
        {{ toYaml .Values.extraInitContainers | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- with .Values.podSecurityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            {{- if .Values.config.org }}
            - name: SCW_EXPORTER_ORG
              value: {{ .Values.config.org | quote }}
            {{- end }}
            {{- if .Values.config.zone }}
            - name: SCW_EXPORTER_ZONE
              value: {{ .Values.config.zone | quote }}
            {{- end }}
            {{- if .Values.config.region }}
            - name: SCW_EXPORTER_REGION
              value: {{ .Values.config.region | quote }}
            {{- end }}
            {{- if .Values.config.project }}
            - name: SCW_EXPORTER_PROJECT
              value: {{ .Values.config.project | quote }}
            {{- end }}
            - name: SCW_EXPORTER_ACESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.existingSecret | default (include "scw-exporter.fullname" .) }}
                  key: {{ .Values.config.accessKey }}
            - name: SCW_EXPORTER_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.existingSecret | default (include "scw-exporter.fullname" .) }}
                  key: {{ .Values.config.secretKey }}
            {{- if ne .Values.collector.dashboard nil }}
            - name: SCW_EXPORTER_COLLECTOR_DASHBOARD
              value: "{{ .Values.collector.dashboard }}"
            {{- end }}
            {{- if ne .Values.collector.securityGroups nil }}
            - name: SCW_EXPORTER_COLLECTOR_SECURITY_GROUPS
              value: "{{ .Values.collector.securityGroups }}"
            {{- end }}
            {{- if ne .Values.collector.servers nil }}
            - name: SCW_EXPORTER_COLLECTOR_SERVERS
              value: "{{ .Values.collector.servers }}"
            {{- end }}
            {{- if ne .Values.collector.baremtal nil }}
            - name: SCW_EXPORTER_COLLECTOR_BAREMETAL
              value: "{{ .Values.collector.baremtal }}"
            {{- end }}
            {{- if ne .Values.collector.snapshots nil }}
            - name: SCW_EXPORTER_COLLECTOR_SNAPSHOTS
              value: "{{ .Values.collector.snapshots }}"
            {{- end }}
            {{- if ne .Values.collector.volumes nil }}
            - name: SCW_EXPORTER_COLLECTOR_VOLUMES
              value: "{{ .Values.collector.volumes }}"
            {{- end }}
            {{- range $key, $value := .Values.extraEnvSecrets }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ required "Must specify secret!" $value.secret }}
                  key: {{ required "Must specify key!" $value.key }}
            {{- end }}
            {{- range $key, $value := .Values.extraEnvVariables }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
          {{- if or .Values.envFromSecret .Values.envFromConfigMap }}
          envFrom:
          {{- if .Values.envFromSecret }}
            - secretRef:
                name: {{ .Values.envFromSecret }}
          {{- end }}
          {{- if .Values.envFromConfigMap }}
            - configMapRef:
                name: {{ .Values.envFromConfigMap }}
          {{- end }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.internalPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
          {{- if or .Values.extraVolumeMounts .Values.files }}
          volumeMounts:
            {{- if .Values.files }}
            - name: files
              mountPath: /etc/scw-exporter-files
            {{- end }}
            {{- if .Values.extraVolumeMounts }}
            {{ toYaml .Values.extraVolumeMounts | nindent 12 }}
            {{- end }}
          {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{ toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.extraVolumes .Values.files }}
      volumes:
        {{- if .Values.files }}
        - name: files
          configMap:
            name: {{ include "scw-exporter.fullname" . }}-files
        {{- end }}
        {{- if .Values.extraVolumes }}
        {{ toYaml .Values.extraVolumes | nindent 8 }}
        {{- end }}
      {{- end }}
