apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "prometheus-hetzner-sd.fullname" . }}
  labels:
    {{- include "prometheus-hetzner-sd.labels" . | nindent 4 }}
  annotations:
{{- if .Values.files }}
    checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
{{- end }}
{{- if .Values.credentials }}
    checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
{{- end }}
{{- if  .Values.annotations }}
{{ toYaml .Values.annotations | indent 4 }}
{{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "prometheus-hetzner-sd.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "prometheus-hetzner-sd.labels" . | nindent 8 }}
{{- if  .Values.annotations }}
      annotations:
        {{- toYaml .Values.annotations | nindent 8 }}
{{- end }}
    spec:
      serviceAccountName: {{ include "prometheus-hetzner-sd.serviceAccountName" . }}
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
      {{- range .Values.image.pullSecrets }}
        - name: {{ . }}
      {{- end}}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          env:
            - name: PROMETHEUS_HETZNER_OUTPUT_ENGINE
              value: {{ .Values.sd.engine | quote }}
            - name: PROMETHEUS_HETZNER_OUTPUT_FILE
              value: {{ .Values.sd.output | quote }}
            {{- if .Values.credentials }}
            - name: PROMETHEUS_HETZNER_CONFIG
              value: "/etc/prometheus-hetzner-creds/credentials.yaml"
            {{- end }}
            {{- range $key, $value := .Values.extraEnvSecrets }}
            - name: {{ $key }}
              valueFrom:
                secretKeyRef:
                  name: {{ required "Must specify secret!" $value.secret }}
                  key: {{ required "Must specify key!" $value.key }}
            {{- end }}
            {{- range $key, $value := .Values.extraEnvVariables }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
          {{- if or .Values.envFromSecret .Values.envFromConfigMap }}
          envFrom:
          {{- if .Values.envFromSecret }}
            - secretRef:
                name: {{ .Values.envFromSecret }}
          {{- end }}
          {{- if .Values.envFromConfigMap }}
            - configMapRef:
                name: {{ .Values.envFromConfigMap }}
          {{- end }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.internalPort }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
          volumeMounts:
            {{- if .Values.files }}
            - name: files
              mountPath: /etc/prometheus-hetzner-files
            {{- end }}
            {{- if .Values.credentials }}
            - name: creds
              mountPath: /etc/prometheus-hetzner-creds
            {{- end }}
            - name: output
              mountPath: /etc/prometheus-hetzner-sd
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{ toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{ toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- if .Values.files }}
        - name: files
          configMap:
            name: {{ include "prometheus-hetzner-sd.fullname" . }}-files
        {{- end }}
        {{- if .Values.credentials }}
        - name: creds
          secret:
            secretName: {{ include "prometheus-hetzner-sd.fullname" . }}-creds
        {{- end }}
        - name: output
          emptyDir: {}
