---
# -- Override the name
nameOverride: ""

# -- Override the fullname
fullnameOverride: ""

# -- Replicas for the deployment
replicaCount: 1

image:
  # -- Image repository used by deployment
  repository: quay.io/promhippie/prometheus-vcd-sd

  # -- Optional tag for the repository, defaults to app version
  tag: ""

  # -- Image pull policy
  pullPolicy: IfNotPresent

  # -- Optional name of pull secret if using a private registry
  pullSecrets: []

serviceAccount:
  # -- Create a new service account
  create: true

  # -- Optional name for an existing service account
  name: ""

# -- Define additional labels
labels: {}

# -- Define additional annotations
annotations: {}

# -- Security context for the deployment
securityContext:
  runAsGroup: 10000
  runAsUser: 10000
  runAsNonRoot: true
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["all"]

service:
  # -- Type of the service
  type: ClusterIP

  # -- Port of the service
  port: 9000

  # -- Internal port of the service
  internalPort: 9000

  # -- Additional annotations for the service
  annotations: {}
    # prometheus.io/path: /metrics
    # prometheus.io/port: "9000"
    # prometheus.io/scrape: "true"

  # -- Additional labels for the service
  labels: {}

# -- Resources for the deployment
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# -- Node selector for the deployment
nodeSelector: {}

# -- Affinity for the deployment
affinity: {}

# -- Tolerations for the deployment
tolerations: []

serviceMonitor:
  # -- Enable service monitor integration
  enabled: false

  # -- Namespace used by service monitor
  namespace: ""

  # -- Additional labels for the service monitor
  labels: {}

  # -- Scrape interval
  interval: 30s

  # -- Scrape path
  telemetryPath: /metrics

  # -- Scrape timeout
  timeout: 30s

  # -- Metric relabeling configuration
  metricRelabelings: []

  # -- Relabeling configuration
  relabelings: []

  # -- Target labels
  targetLabels: []

  # -- Optionally override the job label
  jobLabel:

prometheusRule:
  # -- Enable custom prometheus rules
  enabled: false

  # -- Namespace used by prometheus rules
  namespace: ""

  # -- Additional labels for prometheus rules
  additionalLabels: {}

  # -- Rules definition
  rules: []

# -- environment variables from existing secret
envFromSecret: ""

# -- Environment variables from existing configmap
envFromConfigMap: ""

# -- Extra environment variables from mapping
extraEnvVariables: {}
  # PROMETHEUS_VCD_WEB_CONFIG: /etc/prometheus-vcd-files/web_config.yaml

# -- Extra environment variables from secrets
extraEnvSecrets: {}

sd:
  # -- Service discovery engine, should be `http` in most cases
  engine: http

  # -- Path to write the service discovery result to
  output: /etc/prometheus-vcd-sd/vcd.json

# -- List of files written to a configmap and mounted to /etc/prometheus-vcd-files
files: {}
  # web_config.yaml: |
  #   basic_auth_users:
  #     example: $2y$05$a.7HgF3w3/V7kXRx9XNK9.klJbvALBvtACWdFTQ6VsC/diXVqToMW

# -- List of credentials to use for the service discovery
credentials: []
  # - project: dummy1
  #   token: your-token1
  # - project: dummy2
  #   token: your-token2
  # - project: dummy3
  #   token: your-token3

...
