---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: testing

"on":
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup gnupg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GNUPG_KEY }}
          passphrase: ${{ secrets.GNUPG_PASSWORD }}
          trust_level: 5

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version-file: .python-version

      - name: Setup sops
        uses: nhedger/setup-sops@v2

      - name: Setup testing
        uses: helm/chart-testing-action@main

      - name: Setup helm
        uses: azure/setup-helm@v4

      - name: Helm plugins
        run: |
          helm plugin install https://github.com/jkroepke/helm-secrets

      - name: Decrypt secrets
        run: |
          for FILE in $(find stable -iname \*.enc); do
            helm secrets decrypt ${FILE} >| ${FILE%.enc}.yaml
          done

      - name: Detect testing
        id: detect
        run: |
          CHANGED=$(ct list-changed --config ct.yaml)

          if [[ -n "${CHANGED}" ]]; then
            echo "changed=true" >> "${GITHUB_OUTPUT}"
          fi

      - name: Run Linting
        run: |
          ct lint --config ct.yaml

      - name: Create kind
        if: steps.detect.outputs.changed == 'true'
        uses: helm/kind-action@v1.13.0

      - name: Run testing
        if: steps.detect.outputs.changed == 'true'
        run: |
          ct install --config ct.yaml

...
